<h2>User Events</h2>

<%= render "events", events: @events %>

<h2>Attended Events</h2>

<%= render "events", 
events: current_user.attended_events.where("date >= ?", Date.current ) %>


<h2>Previous Events Attended</h2>

<%= render "events", 
events: current_user.attended_events.where("date < ?", Date.current ) %>
