<h2>User Events</h2>

<div class="events">
    <div class="event-card">
        <% @events.each do |event| %>
            <div class="event-location"><%= event.location %></div>
            <div class="event-date"><%= event.date %></div>
        <% end %>
    </div>
</div>
