<div class="container">
    <div class="events-container">
        <h2>Upcoming Events</h2>

        <%= render "event-list", events: @events.upcoming %>
    </div>
    <div class="events-container">
        <h2>Past Events </h2>

        <%= render "event-list", events: @events.past %>
    </div>
</div>
