<h2>Event Details</h2>

<div class="event-container">
    <div class="event-card">
        <div class="event-creator">
            Hosted by: <%= @event.creator.first_name %>
        </div>
        <div class="event-location">
            Location: <%= @event.location %>
        </div>
        <div class="event-date">
            Date: <%= @event.date %>
        </div>
        <% if user_signed_in? && @event.not_own_event(current_user.id) %>
            <div class="event-attend-button">
                <%= link_to  guests_path(event_id: @event.id), data: { turbo_method: :post } do %>
                    <div>Attend</div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
