<h2>Event Details</h2>

<div class="event-container">
    <div class="event-card">
        <div class="event-creator">
            Hosted by: <%= @event.creator.first_name %>
        </div>
        <div class="event-location">
            Location: <%= @event.location %>
        </div>
        <div class="event-date">
            Date: <%= @event.date %>
        </div>
    </div>
</div>