.invites-page {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invites-page h2 a {
    background-color: var(--off-orange);
    color: var(--dark-blue);
    letter-spacing: .5ch;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.invites-page h2 a:hover {
    background-color: var(--dark-blue);
    color: var(--off-orange);
}

.invites-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.invites-page .heading {
    margin-bottom: 2rem;
}

.invites-page li {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 20rem;
    border-bottom: 1px solid black;
}

.invites-page ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.users-container a {
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.users-container a:hover {
    color: var(--link-hover-white);
}

