.navigation {
    padding: 2rem 6rem;
    height: 5rem;
    width: 100vw;

    background-color: var(--dark-blue);
    color: var(--off-white);

    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: .2ch;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a:hover {
    transition: .3s;
    color: var(--off-orange);
}

.home {
    margin-left: auto;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
}

.username {
    font-weight: normal;
}
